# CMake
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
*Makefile

# cocos studio
*.udf

# proj.android
bin/
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/java/res/
.metadata/
.recommenders/
.gradle/

# proj.android-studio
.idea/
*.iml
proj.android-studio/app/assets/
proj.android-studio/app/obj/
proj.android-studio/app/libs/armeabi/
proj.android-studio/app/libs/armeabi-v7a/
proj.android-studio/app/libs/x86/
proj.android-studio/app/gradle.properties
proj.android-studio/app/local.properties
proj.android-studio/*/build/
cocos2d/cocos/platform/android/libcocos2dx/build/
cocos2d/cocos/platform/android/java/libs/gps/build/

# proj.ios_mac
cocos2d/build/build/
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
proj.ios_mac/build/
proj.ios_mac/*.xcodeproj/project.xcworkspace
proj.ios_mac/*.xcodeproj/xcuserdata/
!*.pch
